<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh; 
      }
      .content {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="content-container">
      <div class="content">
        <p style="font-size: 18px; font-weight: 700">
          Mahmudul Hasan<br />
          B.Sc. in Computer Science & Engineering (CSE)<br />
          Backend Developer (Node JS)
        </p>
        <p style="text-align: center">
          I have experience in developing various types of web applications,<br />
          including single and multi e-commerce platforms, online exam-taking
          <br />
          systems, online course platforms, and subscription selling
          websites.<br />
        </p>
        <p>
          Connect with
          <a href="https://www.linkedin.com/in/mahmudul-hasan-519464253/"
            >Mahmudul Hasan:</a
          >
        </p>
        <div>
          <ul style="list-style: none">
            <li>
              <a href="https://www.linkedin.com/in/mahmudul-hasan-519464253/"
                >LinkedIn</a
              >
            </li>
            <li><a href="https://github.com/m45hasan">Github</a></li>
            <li><a href="mailto:mmhasan045@gmail.com">Email</a></li>
            <li>Contact: +88 0189 4799 017</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
